<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Ta-do</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.ethanpalani.TaDo.auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tado</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>INAlternativeAppNames</key>
	<array>
		<dict>
			<key>INAlternativeAppName</key>
			<string>Tah-doh</string>
			<key>INAlternativeAppNamePronunciationHint</key>
			<string>tah doh</string>
		</dict>
		<dict>
			<key>INAlternativeAppName</key>
			<string>Tado</string>
			<key>INAlternativeAppNamePronunciationHint</key>
			<string>tah doe</string>
		</dict>
		<dict>
			<key>INAlternativeAppName</key>
			<string>Ta-do app</string>
			<key>INAlternativeAppNamePronunciationHint</key>
			<string>tah doh app</string>
		</dict>
	</array>
	<key>NSMicrophoneUsageDescription</key>
	<string>Ta-do listens while you capture a thought, task or goal by voice.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Ta-do uses Apple's speech recognition to turn what you say into a thought, task or goal.</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
